{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block body %}
    <div class="flex justify-center p-10">
        <h1 class="flex justify-center text-6xl place-content-center">Bienvenue les chatons ! 😻 </h1>

    </div>
{% endblock %}
