<div class="flex bg-blue-400 p-1"></div>
<div class="flex justify-center bg-pink-400 p-4">
    <div class="flex flex-wrap items-center gap-x-1 gap-y-2 text-3xl text-white">
        &copy;
        <a href="{{ path('app_home') }}">Seau-Liste</a>
        - Tous droits réservés - {{ 'now' | date('Y') }}
    </div>
</div>
