{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block body %}
    <div class="flex flex-col gap-10 p-8 justify-start items-center h-screen">
        <h1 class="flex justify-center text-6xl place-content-center text-blue-400 font-bold bg-white border-8 border-pink-400 rounded-3xl p-4">Bienvenue les chatons ! 😻 </h1>
        <img class="rounded-3xl border-pink-400 border-8" src="{{ asset('images/14976.gif') }}" alt="licorne" width="400">
    </div>
{% endblock %}
